In [2]:
import pandas as pd

df = pd.read_csv('final_test.csv')
df

        weight   age  height size
0           62  28.0  172.72   XL
1           59  36.0  167.64    L
2           61  34.0  165.10    M
3           65  27.0  175.26    L
4           62  45.0  172.72    M
...        ...   ...     ...  ...
119729      63  42.0  175.26    M
119730      45  29.0  154.94    S
119731      61  31.0  172.72    M
119732      74  31.0  167.64   XL
119733      70  30.0  167.64   XL

[119734 rows x 4 columns]

In [3]:
# drop null values
df = df.dropna()
df

        weight   age  height size
0           62  28.0  172.72   XL
1           59  36.0  167.64    L
2           61  34.0  165.10    M
3           65  27.0  175.26    L
4           62  45.0  172.72    M
...        ...   ...     ...  ...
119729      63  42.0  175.26    M
119730      45  29.0  154.94    S
119731      61  31.0  172.72    M
119732      74  31.0  167.64   XL
119733      70  30.0  167.64   XL

[119153 rows x 4 columns]

In [4]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import RidgeClassifier

X = df.iloc[:, :-1]
y = df.select_dtypes(include=[object])

print(X)
print(y)

        weight   age  height
0           62  28.0  172.72
1           59  36.0  167.64
2           61  34.0  165.10
3           65  27.0  175.26
4           62  45.0  172.72
...        ...   ...     ...
119729      63  42.0  175.26
119730      45  29.0  154.94
119731      61  31.0  172.72
119732      74  31.0  167.64
119733      70  30.0  167.64

[119153 rows x 3 columns]
       size
0        XL
1         L
2         M
3         L
4         M
...     ...
119729    M
119730    S
119731    M
119732   XL
119733   XL

[119153 rows x 1 columns]

In [5]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import RidgeClassifier

clf = RidgeClassifier()

# Reshape y using ravel()
y = y.values.ravel()

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=109)

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

baseline_performance = metrics.accuracy_score(y_test, y_pred)
print(f'Accuracy with without feature selection: {baseline_performance}')

Accuracy with without feature selection: 0.4273205393610474

In [6]:
sample = pd.DataFrame([[40, 23, 180]], columns=['weight', 'age', 'height'])
#sample1 = [40, 23,180]
output= clf.predict(sample)
print(output)

['M']

In [7]:
import joblib
joblib.dump(clf,'model.pkl')

['model.pkl']